<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:name=".TabbedPlayerApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="External Video Player"
        android:localeConfig="@xml/locales_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.VivaldiExternalPlayer"
        android:usesCleartextTraffic="false">

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <provider android:name=".BrowserAssistEnhancerProvider" android:authorities="${applicationId}.browserassist" android:exported="false" />
        <provider android:name=".PendingBrowserTabBridgeProvider" android:authorities="${applicationId}.pendingtabbridge" android:exported="false" />
        <provider android:name=".PlayerRecoveryProvider" android:authorities="${applicationId}.playerrecovery" android:exported="false" />
        <provider android:name=".ForegroundPlaybackGuardProvider" android:authorities="${applicationId}.foregroundguard" android:exported="false" />
        <provider
            android:name=".PlayerTitleProvider"
            android:authorities="${applicationId}.playertitle"
            android:exported="false"
            android:initOrder="45" />
        <provider
            android:name=".PlayerChromeProvider"
            android:authorities="${applicationId}.playerchrome"
            android:exported="false"
            android:initOrder="50" />

        <activity android:name=".PlayerActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" />
        <activity android:name=".BrowserResolverActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" />
        <activity android:name=".SettingsActivity" android:exported="false" />
        <activity android:name=".RecentlyClosedActivity" android:exported="false" />
        <activity android:name=".FavoritesActivity" android:exported="false" />
        <activity
            android:name=".PrivateFavoritesActivity"
            android:excludeFromRecents="true"
            android:exported="false" />
        <activity android:name=".AboutActivity" android:exported="false" />

        <service
            android:name=".BackgroundPreparationKeepAliveService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            android:stopWithTask="false" />

        <activity
            android:name=".BackgroundVirtualPreparationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="standard"
            android:theme="@style/Theme.VivaldiExternalPlayer.Transparent" />

        <activity
            android:name=".BackgroundPreparationActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:taskAffinity="${applicationId}.backgroundprepare"
            android:theme="@style/Theme.VivaldiExternalPlayer.Transparent" />

        <activity
            android:name=".BackgroundShareActivityV2"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/add_to_external_player"
            android:launchMode="standard"
            android:taskAffinity="${applicationId}.backgroundshare"
            android:theme="@style/Theme.VivaldiExternalPlayer.Transparent">
            <intent-filter android:order="100">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BackgroundShareActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/Theme.VivaldiExternalPlayer.Transparent" />

        <activity
            android:name=".ForegroundShareActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/open_in_external_player"
            android:noHistory="true"
            android:theme="@style/Theme.VivaldiExternalPlayer.Transparent">
            <intent-filter android:order="10">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/open_in_external_player"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
